#!/usr/bin/env bash
set -euo pipefail

NIX_CONF_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/nix"
NIX_CONF="${NIX_CONF_DIR}/nix.conf"
mkdir -p "${NIX_CONF_DIR}"
if ! { [[ -f "${NIX_CONF}" ]] && grep -q '^experimental-features' "${NIX_CONF}"; }; then
    echo "experimental-features = nix-command flakes" >> "${NIX_CONF}"
fi
