set -g prefix C-f

set -g history-limit 5000

# Vim のキーバインドでペイン移動
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# -r で Prefix + C-h,h,h,... と連打できる
bind -r C-h select-window -t :-
bind -r C-l select-window -t :+

# bind X kill-window と違い確認を出さない
bind & kill-window

bind r source-file $XDG_CONFIG_HOME/tmux/tmux.conf \; display "Reload $XDG_CONFIG_HOME/tmux/tmux.conf"
bind C-r source-file $XDG_CONFIG_HOME/tmux/new-session \; display "Reload $XDG_CONFIG_HOME/tmux/new-session"

# 新規 window/pane をカレントディレクトリで開く
bind c new-window -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"

bind v copy-mode \; display "Copy mode!"
bind -T copy-mode-vi v      send-keys -X begin-selection
bind -T copy-mode-vi y      send-keys -X copy-pipe-and-cancel "reattach-to-user-namespace pbcopy"
bind -T copy-mode-vi Enter  send-keys -X copy-pipe-and-cancel "reattach-to-user-namespace pbcopy"

# copy-pipe で pbcopy にも積むので Cmd-v でも貼れる
bind p paste-buffer

set -g status-position bottom
# 機種ごとに status line の背景色を切り替え
{{- if eq .machine "mac-mini-m4" }}
set -g status-bg "colour36"
{{- else }}
set -g status-bg "colour60"
{{- end }}
set -g status-fg "colour255"

set -g mouse on

set -g status-left-length 90
set -g status-right-length 90

# #H = マシン名 / #P = ペイン番号
set -g status-right '#H:[#P] '
# set -g status-left '#(get_ssid) #(battery -c tmux) [%Y-%m-%d(%a) %H:%M] '
set -g status-left ' [%Y-%m-%d(%a) %H:%M] '

set -g status-interval 1

#set -g status-right '#(wifi) #(battery --tmux) [%Y-%m-%d(%a) %H:%M]'

set-window-option -g mode-keys vi
