{{- /* OS アイコン: darwin= (Apple), wsl= (Windows), nixos= (NixOS), linux= (Tux) */ -}}
{{- $os_icon := "" -}}
{{- if eq .variant "darwin" -}}{{- $os_icon = "" -}}
{{- else if eq .variant "wsl" -}}{{- $os_icon = "" -}}
{{- else if eq .variant "nixos" -}}{{- $os_icon = "" -}}
{{- end -}}
set -g prefix C-f

set -g history-limit 50000

bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Prefix + Ctrl-h,h,h,h,...と連打できる
bind -r C-h select-window -t :-
bind -r C-l select-window -t :+

bind -r < join-pane -t :-
bind -r > join-pane -t :+

# 確認しないでWindow kill
bind & kill-window

bind r source-file $XDG_CONFIG_HOME/tmux/tmux.conf \; display "Reload $XDG_CONFIG_HOME/tmux/tmux.conf"
bind C-r source-file $XDG_CONFIG_HOME/tmux/new-session \; display "Reload $XDG_CONFIG_HOME/tmux/new-session"

bind c new-window -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"

bind v copy-mode \; display "Copy mode!"
bind -T copy-mode-vi v      send-keys -X begin-selection
bind -T copy-mode-vi y      send-keys -X copy-pipe-no-clear "reattach-to-user-namespace pbcopy"
bind -T copy-mode-vi Enter  send-keys -X copy-pipe-no-clear "reattach-to-user-namespace pbcopy"

# クリップボードにも保存されているので Cmd-v でもペースト可能
bind p paste-buffer

set -g status-position bottom
{{- if eq .machine "mac-mini-m4" }}
set -g status-bg "colour36"
{{- else }}
set -g status-bg "colour60"
{{- end }}
set -g status-fg "colour255"

# ペイン境界線に starship 風 powerline (OSアイコン/ディレクトリ/gitブランチ/コマンド) を表示する。
# 配色は元 starship プロンプトと同一の powerline パレット。
set -g pane-border-status top
set -g pane-border-format "#($XDG_CONFIG_HOME/tmux/pane-border.sh '{{ $os_icon }}' '#{pane_current_path}' '#{pane_current_command}' '#{pane_active}')"
# 境界線はアクティブ状態に関わらず一律同色。tmux はボーダーステータス行の先頭に
# 必ず 2 セル分の線を描くため、バー先頭のフェード ░▒▓ と同色にして溶け込ませる。
set -g pane-active-border-style "fg=#a3aed2"
set -g pane-border-style "fg=#a3aed2"
# 非アクティブペインの減光。bg=default で背景透過を維持する (tmux は透明のまま
# 背景だけ暗くすることはできないため、デフォルト色の文字のみ fg で減光する)。
set -g window-active-style "fg=terminal,bg=default"
set -g window-style "fg=#9399b2,bg=default"

set -g mouse on

set -g status-left-length 90
set -g status-right-length 90

# #H => マシン名
# #P => ペイン番号
set -g status-right '#H:[#P] '

set -g status-left ' [%Y-%m-%d(%a) %H:%M] '

set -g status-interval 1

set-window-option -g mode-keys vi

# TPM のインストール先を ~/.tmux ではなく XDG 配下に統一する。
set-environment -g TMUX_PLUGIN_MANAGER_PATH "$XDG_CONFIG_HOME/tmux/plugins/"
# tmux-translator: コピーモードで選択したテキストを翻訳しポップアップ表示する。
set -g @translate_engines 'trans google'
set -g @translate_target_lang 'ja'
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'mrsmsn/tmux-translator'
run "$XDG_CONFIG_HOME/tmux/plugins/tpm/tpm"
